<div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <h3 class="">Alkebulan Organic Food</h3>
        </a>
        
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            
          <li>
            <a href="#" class="nav-link text-secondary">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
              Home
            </a>
          </li>
          <li>
            <a class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
              Categories
            </a>
          </li>
          <li>
            <a routerLink = 'contactus' class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
              Contact Us
            </a>
          </li>
          <li>
            <a routerLink='cart' class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
              <div class="qty">
              <i class="fas fa-shopping-cart"></i><span>Cart</span>
                {{cartData.data[0].itemsInCart != 0 ? cartData.data.length: 0}}
              </div>
            </a>
          </li>
          <li>
            <a routerLink = 'admin-products' class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
              Admin
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
<div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <a routerLink='login'  class="btn btn-light text-dark me-2">Login</a>
        <a routerLink='signup' class="btn btn-primary">Sign-up</a>
      </div>
    </div>
</div>
<br />

